@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(245, 245, 245);
}




/* GENERAL */
a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

span {
  font-weight: 500;
}

.text__color--blue {
  color: blue;
}

.click {
  transition: all 300ms ease;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

#landing-page,
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.container {
  width: 100%;
  padding: 50px 0;
}

.link__hover--effect {
  position: relative;
}

.link__hover--effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;

  transition: all 300ms ease;
}

.link__hover--effect:hover:after {
  width: 100%;
  left: 0;
}

.link__hover--effect--white:after {
  background-color: #FFF;
}

.link__hover--effect--black:after {
  background-color: #242424;
}





/* LANDING PAGE */
#landing-page {
  min-height: 100vh;
}

nav {
  height: 80px;
  padding: 0px 24px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo--wrapper {
  font-size: 32px;
}

.nav__logo {
  margin-left: -13px;
  
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin-right: 24px;
}

.nav__anchor {
  color: #242424;
  font-weight: 500;
}

.header__container {
  position: absolute;
  padding: 0 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  
}

.header__title {
  font-size: 120px;
}

.header__para {
  font-size: 24px;
  width: 100%;
  max-width: 500px;
  line-height: 2;
}

.social__media--links {
  display: flex;
}

.header__links {
  color: #000;
  padding: 6px;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  background-color: blue;
  color: #FFF;
  font-size: 14px;
  margin: 12px  12px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 300ms ease;
}

.mail {
  position: fixed;
  bottom: 32px;
  right: 40px;
  border: none;
  font-size: 32px;
  width: 65px;
  height: 65px;
  background-color: #1c1d25;
  color: #FFF;
  border-radius: 100px;
  z-index: 100;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid black;
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  background-color: #242424;
  width: 4px;
  height: 6px;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px)
  }
}



/* PROJECTS */
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 60px;
}

.special__font {
  font-weight: 700;
}

.project {
  margin-bottom: 135px;
}

.project__wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 16px;

  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.project__img {
  width: 100%;
  transition: all 600ms ease;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  color: #FFF;
  max-width: 550px;
  transition: opacity 300ms, transform 450ms ease;
}

.project__wrapper--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
}

.project__description--title {
  font-size: 40px;
  margin-bottom: 12px;
}

.project__description--link {
  font-size: 20px;
  margin-right: 12px;
  color: #FFF;
}

.project__description--para {
  margin: 16px 0;
}


.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(3px);
}

.project__wrapper:hover .project__wrapper--background {
  opacity: 0.7;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}




/* FOOTER */
footer {
  padding: 6% 0;
  background-color: #242424;
  color: #FFF;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__list--container {
  width: 100%;
  margin: 24px 0;
  max-width: 500px;
  
  display: flex;
  justify-content: space-around;
}

.footer__link {
  color: #FFF;
}

.footer__logo {
  margin-left: -20px;
}

.footer__logo--link {
  position: relative;
  color: #FFF;
  font-size: 48px;
}

.top__icon {
  position: absolute;
  font-size: 16px;
  top: 18px;
  right: 4px;
  opacity: 0;
  font-weight: 500;
  
  display: flex;
  transition: all 450ms ease;
}

.pointing__icon {
  margin-left: 4px;
}

.footer__logo--link:hover .top__icon{
  opacity: 1;
  transform: translateX(45px);
}
